.bg-1 {
	//background: url("https://placehold.it/1592x362") no-repeat 50% 50%;
	background: url("/storage/app/media/banner-moerasbos.jpg") no-repeat 50% 30%;
	
	background-size: cover;
}

.bg-2 {
	//background: url("https://placehold.it/1592x362");
	background-color: url("/storage/app/media/banner-moerasbos.jpg");
	background-size: cover;
}
