title = "Publications"
url = "/publications"
layout = "cms-layout"
meta_title = "Publications"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "publicaties"
postsPerPage = 100
noPostsMessage = "No posts found"
sortOrder = "title desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<!-- Section Page Ingro Start -->
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">{{ 'Publications'|_ }}</span>
          <h1 class="text-capitalize mb-4 text-lg">{{ 'Citations for our projects'|_ }}</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ 'home'|page }}" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">{{ 'Publications'|_ }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section Page Intro End -->
<!-- Section Advice and Evaluation Start -->
<section class="section portfolio pb-0 bg-gray">	
    <div class="container">
        {% set posts = blogPosts.posts %}
        <div class="container-fluid">
            <div class="row">
            <ul class="col-lg-12 col-md-12 mb-6">
            {% for post in posts %}
                <div class="col-lg-12 col-md-12 mb-6">
                    <div class="togglelink">
                       <li class="bg-transparent">                       
                            {% if loop.index > 1 %}
                                <button data-target="#public_{{ loop.index }}" class="btn btn-link toggleheader" data-toggle="collapse" aria-expanded="false"><h6>
                            {% else %}
                                <button data-target="#public_{{ loop.index }}" class="btn btn-link toggleheader" data-toggle="collapse" aria-expanded="true"><h6>
                            {% endif %}
                                <li class="arrow down"></li> {{ post.title }} </a>                            
                            </h6> </button>   
                            {% if post.excerpt %}
                                <div class="excerpt collapse p-4" id="public_{{loop.index}}">{{ post.excerpt }}</div>
                            {% else %}                                
                                {% if loop.index > 1 %}
                                    <div class="content collapse"  id="public_{{loop.index}}">{{ post.content_html|raw }}</div>
                                {% else %}
                                    <div class="content collapse show" id="public_{{loop.index}}">{{ post.content_html|raw }}</div>
                                {% endif %}
                            {% endif %}                       
                        </li>
                    </div>
                </div>    
                {% else %}
                <div class="no-data">
                    <p>{{ noPostsMessage }}</p>
                </div>
            {% endfor %}
            </ul>
            </div>
        </div> 
    </div>
</section>